<!DOCTYPE html>
<html lang="en" ng-app="quote-tool" class="quote-tool">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Course Manage</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/layout-{{ version }}.min.css" />
    <link rel="stylesheet" href="/assets/css/datepicker.css" />

    <!--<link rel="stylesheet" href="top-nav/assets/style/top-nav.min.css"/>-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var manageCourse = {
            package : {
                version : '{{ version }}',
            },
            url : {
                api : '{{ url.api }}',
                catalog : '{{ url.catalog }}'
            },
            session : {
                ttl : parseInt('{{ session.ttl }}')
            },
            profile : {
                role: '{{ profile.role }}',
                market:  '{{ profile.market }}'
            },
            markets : {
                US : '{{ markets.US }}',
                AUSTRALIA : '{{ markets.AUSTRALIA }}',
                ME : '{{ markets.ME }}',
                NON_US : '{{ markets.NON_US }}'
            }
        };
    </script>
    <script type="text/javascript" src="assets/js/ga.js"></script>
</head>

<body class="crs-mgr body" >
    {{{body}}}

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery-min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular-min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate-min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route-min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap-min.js"></script>
    <script type="text/javascript" src="/assets/js/application-{{ version }}-min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/assets/js/manage-course-{{ version }}-min.js"></script>
    <script type="text/javascript" src="/assets/templates/templates-{{ version }}.js"></script>
</body>

</html>